/* Styled using the guide at
	http://thinkvitamin.com/design/creating-sexy-stylesheets/
*/

/* COLORS
*/

/* HEADER
   CONTENT
   DASHBOARD
*./

/* =HEADER
   ----------------------------------------*/
html {
	height: 100%;
	margin-top: 0px;
}

body {
	height: 100%;
	margin: 1px;
}

div {
	margin: 0px;
	padding: 0px;
}

#topbar {
	min-height: 40px;
	height: 10%;
	width: 100%;
}

#header {
	height: 40%;
	min-height: 10px;
}

#navbar {
	height: 60%;
	min-height: 30px;
}

/* =CONTENT
   ----------------------------------------*/
#globalnot {
	float: left;
	height: 90%;
	width: 15%;
}

/* =DASHBOARD
   ----------------------------------------*/
#dashboard {
	float: right;
	height: 90%;
	width: 85%;
}

div.summary {
	width: 50%;
	height: 50%;
	padding-top: 0px;
}

div.header {
	width: 100%;
	padding-left: 10px;
	min-height: 22px;
}

#timeline {
	float: left;
}

#notifications {
	float: right;
}

#perf-gauge {
	float: left;
}

#tasks {
	float: right;
}